
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#descripCG,#descripCB,#descripCP{
  display: none;
}

#cuentaG:checked+label+span{ 
  display: block;
  background-color: aquamarine;
}

#cuentaB:checked+label+span{ 
  display: block;
  background-color: aquamarine;
}

#cuentaP:checked+label+span{ 
  display: block;
  background-color: aquamarine;
}


  
  



